body {
    font-family: sans-serif;
    margin: 0;
    background-color: #d3e8f1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* ===== TÍTULO ===== */
h1 {
    text-align: center;
    color: #6382df;
    margin-top: 20px;
}

/* ===== GALERIA ===== */
.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas fixas */
    gap: 20px; /* espaço entre as imagens */
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

/* ===== ITEM ===== */
.item {
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.item img {
    width: 100%;
    height: 350px; /* antes era 250px */
    
    object-fit: cover;
    display: block;
}


.item:hover {
    transform: scale(1.03);
}

/* ===== RODAPÉ ===== */
footer {
    background-color: #6382df;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    font-size: 0.9em;
    margin-top: auto;
}

/* ===== RESPONSIVO ===== */
@media (max-width: 900px) {
    .galeria {
        grid-template-columns: repeat(2, 1fr); /* 2 por linha em tablet */
    }
}

@media (max-width: 600px) {
    .galeria {
        grid-template-columns: 1fr; /* 1 por linha em celular */
    }
}

